:root {
  --clr-primary: hsl(234, 100%, 54%);

  --clr-submit-text: white;

  --clr-accent: hsl(0, 0%, 91%);
  --clr-accent-100: hsl(0, 0%, 71%); 
  --clr-accent-120: hsl(0, 0%, 38%);

  --clr-accent-200: hsl(0, 100%, 50%);

  --clr-accent-300: hsl(29, 100%, 47%);

  --ff: "Inter", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
}